.buttons-container {
    position: relative;
    margin: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    
  }
  
  .button svg {
    width: 24px;
    height: 24px;
  }
  
  .rotate-btn {
    color: #2b2b2b; /* Color de la flecha */
    background-color: gainsboro;
    border-radius: 50%;
  }
  
  .like-btn {
    color: #35be30; /* Color del corazón */
    background-color: gainsboro;
    border-radius: 50%;
  }
  
  .reject-btn {
    color: #df5656; /* Color de la X */
    background-color: gainsboro;
    border-radius: 50%;
  }

  .rotate-btn:hover {
    background-color: rgb(182, 182, 182);
  }
  
  .like-btn:hover {
    background-color:rgb(182, 182, 182);
  }
  
  .reject-btn:hover {
    background-color:rgb(182, 182, 182);
  }
  .body-content-card{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color:white;
    border-image: fill 0 linear-gradient(#0001,#000);
  }

  /* match */

.match-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
}

.match-card p {
  font-size: 1.5em;
  margin: 0 0 10px;
}

.match-card button {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.match-card button:hover {
  background-color: #45a049;
}
