.buttons-container {
    position: relative;
    margin: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    
  }
  
  .button svg {
    width: 24px;
    height: 24px;
  }
  
  .rotate-btn {
    color: #2b2b2b; /* Color de la flecha */
    background-color: gainsboro;
    border-radius: 50%;
  }
  
  .like-btn {
    color: #35be30; /* Color del corazón */
    background-color: gainsboro;
    border-radius: 50%;
  }
  
  .reject-btn {
    color: #df5656; /* Color de la X */
    background-color: gainsboro;
    border-radius: 50%;
  }

  .rotate-btn:hover {
    background-color: rgb(182, 182, 182);
  }
  
  .like-btn:hover {
    background-color:rgb(182, 182, 182);
  }
  
  .reject-btn:hover {
    background-color:rgb(182, 182, 182);
  }
  .body-content-card{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color:white;
    border-image: fill 0 linear-gradient(#0001,#000);
  }