
  <style>
    /* Estilos adicionales */
    .chat-container {
      height: 70vh;
      overflow-y: scroll;
    }

    .message {
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 10px;
    }

    .message.sender {
      background-color: #f0f0f0;
      text-align: right;
    }

    .message.receiver {
      background-color: #d3d3d3;
    }

    .message input[type="text"] {
      width: calc(100% - 40px);
      margin-right: 5px;
    }

    .message button {
      width: 40px;
    }
    .container-profile {
      padding: 40px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    }
  </style>
  <div class="container-fluid">
    <div class="row mt-5 justify-content-center ">
      <div class="col-lg-6 mx-auto container-profile bg-light">
        <div class="chat-container border rounded p-5 bg-body">
          <div class="message receiver">
            <p>Hello, how can I help you?</p>
            <span class="time">11:30 AM</span>
          </div>
          <!--<div class="message sender" >
            <input class="message_input" placeholder="Message..."/>
            <span class="time">11:32 AM</span>
          </div>-->
          <div class="message sender" >
            <p>Hi, I am fine and you?</p>
            <span class="time">11:32 AM</span>
          </div>
          <div class="message sender" >
            <p>Hi, I am fine and you?</p>
            <span class="time">11:32 AM</span>
          </div>
          <div class="message sender" >
            <p>Hi, I am fine and you?</p>
            <span class="time">11:32 AM</span>
          </div>
          <div class="message sender" >
            <p>Hi, I am fine and you?</p>
            <span class="time">11:32 AM</span>
          </div>
          <div class="message sender" >
            <p>Hi, I am fine and you?</p>
            <span class="time">11:32 AM</span>
          </div>
          <div class="message sender" >
            <p>Hi, I am fine and you?</p>
            <span class="time">11:32 AM</span>
          </div>
          <!-- More messages here -->
        </div>
        <div class="input-group mt-3">
          <input type="text" class="form-control" placeholder="Escribir el mensaje...">
          <button class="btn btn-danger" (click)="sendMessage()">Enviar</button>
        </div>
      </div>
    </div>
  </div>


