@font-face {
  font-family: 'OpenSans';
  src: url('../../../assets/fonts/OpenSans-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/Roboto-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Estilos generales */
body {
  font-family: 'OpenSans', sans-serif;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

/* Botones y etiquetas */
button, label {
  font-family: 'Roboto', sans-serif;
}

/* Otros elementos */
p, a, li, span {
  font-family: 'OpenSans', sans-serif;
}

/*contenedor*/
/*
.chat-header {
  background: linear-gradient(to bottom right, #f8cfa6, #ff9f9f);
  height: 150px;
  position: relative;
  border-radius: 20px 20px 0 0px;
}
.chat-content {
  padding-top: 60px;
  background-color: #d8d8d8;
  border-radius: 0 0 20px 20px;
  min-height: calc(90vh - 150px);
}*/
.column-size{
  min-height: calc(105vh - 150px);
}
@media (min-width: 768px) {
  /*.chat-header {
      height: 200px;
  }
  .chat-content {
      padding-top: 100px;
  }*/
  .column-size{
    min-height: calc(110vh - 150px);
  }

}
 
 /* Personaliza los estilos según sea necesario */
 .bg-custom{
  background: linear-gradient(to bottom right, #fcf5f7, #f7f4f2,#f7f2f8);
}
/* BTNs */
.btn-custom-v1{
  background: linear-gradient(to bottom right, #9eb8ce, #aaaed1 ,  #c3afd6, #d8b2cb);
  color: #ffffff;
  border-radius: 25px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
  transition: background 0.3s ease-in-out; /* Transición suave para el fondo */
  box-shadow: 0 0.2rem 0.35rem rgba(0, 0, 0, 0.2); /* Sombras sutiles */
}
.btn-custom-v1:hover{
  color: #efedf3; /* Color del texto */
  background: linear-gradient(to bottom right, #475561, #5b5e79 ,  #61546d, #6b5464); 
}

.btn-custom-v2{
  background:#f1f1f1;
  color: #979797; /* Color del texto */
  border: none; /* Sin bordes */
  border-radius: 25px; /* Bordes redondeados */
   font-size: 18px; /* Tamaño de la fuente */
  cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
  transition: background 0.3s ease-in-out; /* Transición suave para el fondo */
  box-shadow: 0 0.2rem 0.35rem rgba(0, 0, 0, 0.1); /* Sombras sutiles */
}
.btn-custom-v2:hover{
  background:#222222; /* Degradado de colores rosas y morados */
  color: white;
  border: 0px;
}
.btn-custom{
  background:#f74b4b;
  color: white; /* Color del texto */
  border: none; /* Sin bordes */
  border-radius: 25px; /* Bordes redondeados */
  padding: 6px 6px; /* Espaciado interno */
  font-size: 18px; /* Tamaño de la fuente */
  cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
  transition: background 0.3s ease-in-out; /* Transición suave para el fondo */
}
.btn-custom:hover{
  background:#7e4b4b; /* Degradado de colores rosas y morados */
  color: white;
  border: 0px;
}

.search-input {
  padding-left: 2rem;
}

.search-icon {
  position: absolute;
  top: 45%;
  left: 0.75rem;
  transform: translateY(-50%);
  z-index: 10;
  pointer-events: none;
}

.search-input:focus + .search-icon {
  color: #9b9b9b; /* Color de Bootstrap para elementos enfocados, puedes cambiarlo */
}

.list-group-item.active {
  background-color: #8a6fa3; /* Color verde, puedes cambiarlo al que prefieras */
  border-color: #dcbdff;
}

/* Si quieres cambiar también el color del texto cuando está activo */
.list-group-item.active {
  color: #fdf9ff;
}

 .user-list .list-group-item {
   cursor: pointer;
   text-align: left;
   /* Alinea el texto a la izquierda */
 }
 .user-list .list-group-item img {
   width: 40px;
   height: 40px;
   object-fit: cover; /* Asegura que la imagen mantenga sus proporciones */
   border-radius: 50%;
   margin-right: 10px;
   /* Espaciado entre la imagen y el texto */
 }
 .container-profile {
   padding: 40px;
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
 }
 .user-list {
   height: 100%;
   overflow-y: auto;
   text-align: center;
   /* Centra el contenido */
 }
 .chat-box {
   height: 100%;
 }