@font-face {
  font-family: 'OpenSans';
  src: url('../../../assets/fonts/OpenSans-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/Roboto-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Estilos generales */
body {
  font-family: 'OpenSans', sans-serif;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

/* Botones y etiquetas */
button, label {
  font-family: 'Roboto', sans-serif;
}

/* Otros elementos */
p, a, li, span {
  font-family: 'OpenSans', sans-serif;
}

 
 /* Personaliza los estilos según sea necesario */
 .bg-custom{
  background: linear-gradient(to bottom right, #fcf5f7, #f7f4f2,#f7f2f8);
}
.btn-custom{
  background:#f74b4b;
  color: white; /* Color del texto */
  border: none; /* Sin bordes */
  border-radius: 25px; /* Bordes redondeados */
  padding: 6px 6px; /* Espaciado interno */
  font-size: 18px; /* Tamaño de la fuente */
  cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
  transition: background 0.3s ease-in-out; /* Transición suave para el fondo */
}
.btn-custom:hover{
  background:#7e4b4b; /* Degradado de colores rosas y morados */
  color: white;
  border: 0px;
}

.search-input {
  padding-left: 2rem;
}

.search-icon {
  position: absolute;
  top: 45%;
  left: 0.75rem;
  transform: translateY(-50%);
  z-index: 10;
  pointer-events: none;
}

.search-input:focus + .search-icon {
  color: #9b9b9b; /* Color de Bootstrap para elementos enfocados, puedes cambiarlo */
}

.list-group-item.active {
  background-color: #c94848; /* Color verde, puedes cambiarlo al que prefieras */
  border-color: #ffbdbd;
}

/* Si quieres cambiar también el color del texto cuando está activo */
.list-group-item.active {
  color: #ffe7e7;
}

 .user-list .list-group-item {
   cursor: pointer;
   text-align: left;
   /* Alinea el texto a la izquierda */
 }
 .user-list .list-group-item img {
   width: 40px;
   /* Tamaño de la imagen de perfil */
   height: 40px;
   border-radius: 50%;
   /* Borde redondeado para la imagen de perfil */
   margin-right: 10px;
   /* Espaciado entre la imagen y el texto */
 }
 .container-profile {
   padding: 40px;
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
 }
 .user-list {
   height: 100%;
   overflow-y: auto;
   text-align: center;
   /* Centra el contenido */
 }
 .chat-box {
   height: 100%;
 }