body {
    background-color: #ffffff;
  }
.login-form {
    max-width: 400px;
    margin: 10px auto 0 ;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.btn-custom{
  background: #f74b4b; /* Degradado de colores rosas y morados */
  color: white; /* Color del texto */
  text-shadow: 1px 1px 2px #773528; /* Sombra de texto oscuro */
  border: none; /* Sin bordes */
  border-radius: 25px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 20px; /* Tamaño de la fuente */
  cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
  transition: background 0.3s ease-in-out; /* Transición suave para el fondo */
}

.btn-custom:hover {
  background: #d33737; /* Degradado de colores rosas y morados */
  color: white;
}
