@if(isLoggedIn){ 
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-custom">© 2024 Lovely - By Natanael Lima</span>
    </div>

  </footer>
</div>
}