<style>
  /* Estilos adicionales */
  .profile-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 20px;
  }
  .profile-info {
      margin-bottom: 20px;
  }
  .profile-options {
      margin-bottom: 20px;
  }
  .container-profile {
      padding: 40px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    }
</style>

<div class="container">
  <div class="row mt-5 justify-content-center ">
      <!-- Primera columna -->
      <div class="col-md-3 container-profile bg-light">
          <div class="text-center ">
                <div class="position-relative">
                  <img src="https://img.freepik.com/foto-gratis/retrato-hombre-pasandolo-muy-bien_23-2149443790.jpg" alt="Profile Image" class="profile-image">
                  <label for="file-input" class=""><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                  </svg></label>
                  <input id="file-input" type="file" style="display: none;" accept="image/*">
                </div>
              <h4>Brad Pitt</h4>
              <p>Fecha de Registro: 01/01/2024</p>
          </div>
          
              <div class="d-grid gap-1">
                <button class="btn btn-dark rounded-pill px-3 " (click)="changeSection('perfil')"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg> Perfil</button>
                <button class="btn btn-dark rounded-pill px-3" (click)="changeSection('password')"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                  <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
                  <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                </svg> Password</button>
                <button class="btn btn-dark rounded-pill px-3" (click)="changeSection('account')"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
                  <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
                </svg> Configuracion</button>
                <button class="btn btn-dark rounded-pill px-3" (click)="changeSection('logout')"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg> Cerrar Sesión</button>
              </div>
     
              
                      
      </div>
      <!-- Segunda columna -->
      <div class="col-md-7  container-profile bg-light">
          @if(currentSection === 'perfil' ){ 
          <div class="profile-info ">
              <h3>Perfil</h3>
              <form>
                <div class="row">
                  <div class="col-6 mb-3">
                    <label for="nombre" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="nombre" value="Brad">
                  </div>
                  <div class="col-6 mb-3">
                      <label for="apellido" class="form-label">Apellido de usuario</label>
                      <input type="text" class="form-control" id="apellido" value="Pitt">
                    </div>
                </div>
                <div class="row">
                  <div class="col-6 mb-3">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" value="pitt@gmail.com">
                  </div>
                  <div class="col-6 mb-3">
                    <label for="ubicacion" class="form-label">Ubicacion</label>
                    <input type="text" class="form-control" id="ubicacion" value="Peru">
                  </div>
                </div>
                  
                  <div class="mb-3">
                    <label for="edad" class="form-label">Edad</label>
                    <input type="number" class="form-control" id="edad" value="43" >
                  </div>
                <div class="mb-3">
                    <label for="genero" class="form-label">Nueva Genero</label>
                    <select class="form-control form-select-md mb-3" id="sexo" name="sexo" aria-label="Large select example">
                      <option selected disabled>Seleccionar</option>
                      <option value="Femenino">Femenino</option>
                      <option value="Masculino">Masculino</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary" >Actualizar perfil</button>
              </form>

          </div>
          }
          @if(currentSection === 'password' ){
            <div>
              <!-- Contenido para cambiar contraseña -->
              <h3>Cambiar Contraseña</h3>
              <form>
                <div class="col-6 mb-3">
                  <label for="nombre" class="form-label">Actual Password</label>
                  <input type="password" class="form-control" id="password" >
                </div>
                <div class="row">
                  <div class="col-6 mb-3">
                      <label for="apellido" class="form-label">Nuevo Password</label>
                      <input type="password" class="form-control" id="password" >
                  </div>
                  <div class="col-6 mb-3">
                    <label for="apellido" class="form-label">Confirmar Nuevo Password</label>
                    <input type="password" class="form-control" id="password" >
                 </div>
                  </div>
                  
                <button type="button" class="btn btn-primary" >Actualizar password</button>
              </form>
          </div>
          }
          @if(currentSection === 'account' ){
            <div>
              <!-- Contenido para configuración de cuenta -->
              <h3>Configuración de Cuenta</h3>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                <label class="form-check-label" for="flexCheckDefault">
                  Cuenta Activa
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  Cuenta Desbloqueda
                </label>
              </div>
              <button type="button" class="mt-3 btn btn-primary" >Actualizar setting</button>
          </div>
          }
          @if(currentSection === 'logout' ){
            <!-- Contenido para configuración de cuenta -->
            <h3>Cerro Sesion</h3>
          }     
          
        
      </div>
  </div>
</div>