@font-face {
    font-family: 'OpenSans';
    src: url('../../../assets/fonts/OpenSans-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('../../../assets/fonts/Roboto-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
/* Estilos generales */
body {
    font-family: 'OpenSans', sans-serif;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* Menú */
.navbar, .sidebar {
    font-family: 'Roboto', sans-serif;
}

/* Botones y etiquetas */
button, label {
    font-family: 'Roboto', sans-serif;
}

/* Otros elementos */
p, a, li, span {
    font-family: 'OpenSans', sans-serif;
}


/* Estilos adicionales */
.bg-custom {
    background-color: #d5dbd9;
}
/*BUTTONS PROFILE*/
.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /* Ajusta este valor según tus necesidades */
}

.btn-text {
    margin-bottom: 8px;
    /* Ajusta este valor según tus necesidades */
    text-align: center;
}

.row-top,
.row-bottom {
    justify-content: space-around;
}

.row-middle {
    justify-content: center;
}

/*IMAGE PROFILE*/
.profile-picture-container {
    position: relative;
    display: inline-block;

}
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.change-photo-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: linear-gradient(to bottom right,#f74b4b ,#c54444  );
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease;
}

.change-photo-icon svg {
    width: 24px;
    height: 24px;
    color: white;
}
.change-photo-icon:hover {
    background: linear-gradient(to bottom right, #d14141 ,#a53636 );
    color:#f5f5f5;
}
.label-icon{
    cursor: pointer;
}

.btn-custom-color{
    color: #afafaf; /* Color del texto */
    background-color: #f5f5f5;
    cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
    transition: background 0.3s ease-in-out; /* Transición suave para el fondo */
    box-shadow: 0 0.25rem 0.55rem rgba(0, 0, 0, 0.150); /* Sombras sutiles */
}
.btn-custom-color:hover{
    background:#f74b4b; /* Degradado de colores rosas y morados */
    color: white;  
}

.active-btn {
    background:#a8a5a5; /* Degradado de colores rosas y morados */
    color: #f5f5f5; /* Color del texto */
  }

.btn-custom{
    background:#f74b4b;
    color: white; /* Color del texto */
    border: none; /* Sin bordes */
    border-radius: 25px; /* Bordes redondeados */
    padding: 6px 6px; /* Espaciado interno */
    font-size: 18px; /* Tamaño de la fuente */
    cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
    transition: background 0.3s ease-in-out; /* Transición suave para el fondo */
}
.btn-custom:hover{
    background:#c54444; /* Degradado de colores rosas y morados */
    color: white;
    border: 0px;
}

/* Ajustes para mostrar las imágenes correctamente */
option img {
    display: inline-block;
    vertical-align: middle;
  }
  
option {
    display: flex;
    align-items: center;
  }
  

  