/* Estilos adicionales */
.bg-custom{
    background-color: #d5dbd9;
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.profile-info {
    margin-bottom: 20px;
}
.profile-options {
    margin-bottom: 20px;
}
.container-profile {
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  }

.profile-picture-container {
    position: relative;
    display: inline-block;
    
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.change-photo-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgb(255, 246, 246);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-color: black;
    border: 1px solid rgb(214, 214, 214);
}

.change-photo-icon svg {
    width: 24px;
    height: 24px;
    color: rgb(0, 0, 0);
}

.change-photo-icon:hover {
    background-color: #fdfaf3;
}
.label-icon{
    cursor: pointer;
}

.btn-custom-color{
    color: black; /* Color del texto */
    border: none; /* Sin bordes */
    border-radius: 25px; /* Bordes redondeados */
    padding: 6px 6px; /* Espaciado interno */
    font-size: 18px; /* Tamaño de la fuente */
    cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
    transition: background 0.3s ease-in-out; /* Transición suave para el fondo */
}
.btn-custom-color:hover{
    background:#E38664; /* Degradado de colores rosas y morados */
    color: white;
    border: 0px;
}
.linea{
    margin: 0.1px;
}
.active-btn {
    background:#FFA566; /* Degradado de colores rosas y morados */
    color: white; /* Color del texto */
  }

.btn-custom{
    background:#FFA566;
    color: white; /* Color del texto */
    border: none; /* Sin bordes */
    border-radius: 25px; /* Bordes redondeados */
    padding: 6px 6px; /* Espaciado interno */
    font-size: 18px; /* Tamaño de la fuente */
    cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
    transition: background 0.3s ease-in-out; /* Transición suave para el fondo */
}
.btn-custom:hover{
    background:#E38664; /* Degradado de colores rosas y morados */
    color: white;
    border: 0px;
}

/* Ajustes para mostrar las imágenes correctamente */
option img {
    display: inline-block;
    vertical-align: middle;
  }
  
option {
    display: flex;
    align-items: center;
  }
  