<section class="container-fluid p-0">
  <div class="profile-header position-relative">
    <!-- Toast Notification -->
    <div class="toast-container position-absolute top-0 start-50 translate-middle-x p-3" style="z-index: 11;" >
      <div id="profileUpdateToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true" style="min-width: 300px;">
        <div class="d-flex">
          <div class="toast-body fs-5 p-3" >
            ¡Actualizaste tu foto de perfil!
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>
    <!-- Foto de Perfil -->
    <div class="profile-picture-wrapper">
      <img [src]="selectedImageURL" [alt]="currentUserProfile.photoFileName" class="profile-picture">
      <div class="change-photo-icon">
        <label for="file-input" class="label-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
          <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
          <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0"/>
        </svg></label>
        <button id="file-input" type="submit" data-bs-toggle="modal" data-bs-target="#changePhotoModal" style="display: none;" accept="image/*"></button>
      </div>
      <button id="file-input" type="submit" data-bs-toggle="modal" data-bs-target="#changePhotoModal" style="display: none;" accept="image/*"></button>
    </div>
    <!-- Modal para cambiar la foto -->
    <div class="modal fade" id="changePhotoModal" tabindex="-1" aria-labelledby="changePhotoModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="changePhotoModalLabel">Cambiar foto de perfil</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <form (ngSubmit)="updatePhoto()" #photoForm="ngForm" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="photoFile" class="form-label">Seleccionar nueva foto</label>
                <input type="file" class="form-control" id="photoFile" (change)="onFileSelect($event)" accept="image/*">
              </div>
              <div *ngIf="selectedImageURL" class="mb-3">
                <img [src]="selectedImageURL" alt="Preview" class="img-thumbnail">
              </div>
              <button type="submit" class="btn btn-custom" [disabled]="!currentUserProfile.photo" data-bs-dismiss="modal">Actualizar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="profile-content">
    <div class="profile-info text-center">
      <h2 class="mb-0 text-capitalize">{{currentUser.name}} {{currentUser.lastname}}</h2>
      <p class="text-muted">{{emailTest}}</p>
      <p class="text-muted text-body-tertiary"><i class="bi bi-calendar-event"></i> Joined {{ currentUserProfile.timestamp | date: 'mediumDate' }}</p>
    </div>
    
    <div class="profile-actions mt-5">
      <div class="row g-4">
        <div class="col-6">
          <!-- Button trigger modal -->
          <button class="btn  btn-custom-v2 btn-square w-100" type="button" data-bs-toggle="modal" data-bs-target="#modalProfile" >
            <i class="bi bi-person"></i>
            <span>Editar</span>
          </button>
        </div>
        <div class="col-6">
          <button class="btn   btn-custom-v2 btn-square w-100" type="button" data-bs-toggle="modal" data-bs-target="#modalSetting">
            <i class="bi bi-gear"></i>
            <span>Configuración</span>
          </button>
        </div>
        <div class="col-6">
          <button class="btn btn-custom-v2  btn-square w-100" type="button" data-bs-toggle="modal" data-bs-target="#modalPassword">
            <i class="bi bi-shield-lock"></i>
            <span>Password</span>
          </button>
        </div>
        <div class="col-6">
          <button class="btn   btn-custom-v2  btn-square w-100" (click)="onLogout()">
            <i class="bi bi-box-arrow-right"></i>
            <span>Cerrar Sesión</span>
          </button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Setting -->
<div class="modal fade" id="modalSetting" tabindex="-1" aria-labelledby="modalSettingLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalSettingLabel">Configuracion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-4">
          <h6 class="mb-3">Estado de la Cuenta</h6>
          <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" id="accountActive" checked>
            <label class="form-check-label" for="accountActive">Cuenta Activa</label>
          </div>
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="accountUnlocked" checked>
            <label class="form-check-label" for="accountUnlocked">Cuenta Desbloqueada</label>
          </div>
          <button type="button" class="btn btn-primary rounded-pill">UPDATE STATUS</button>
        </div>
        <hr>
        <div class="mt-4">
          <h6 class="text-danger mb-3">Eliminar Cuenta</h6>
          <p class="text-muted">Eliminar tu cuenta y todos los datos relacionados de tu organización. Ten cuidado, esta acción es irreversible.</p>
          <button type="button" class="btn btn-danger rounded-pill">
            <i class="bi bi-trash me-2"></i>ELIMINAR CUENTA
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-custom-v1 rounded-pill" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-custom-v1 rounded-pill">Save changes</button>
  
      </div>
    </div>
  </div>
</div> 
<!-- Modal Password -->
<div class="modal fade" id="modalPassword" tabindex="-1" aria-labelledby="modalPasswordLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalPasswordLabel">Change password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          
            <!-- Contenido para cambiar contraseña -->
            <div class="alert alert-info" role="alert">
              <i class="bi bi-info-circle me-2"></i>
              Changing your password will end all logged sessions.
            </div>
            <form id="changePasswordForm">
              <div class="mb-3">
                <label for="newPassword" class="form-label">Current password</label>
                <input type="password" class="form-control" id="currentPassword" placeholder="Minimum 6 characters" required>
              </div>
              <div class="mb-3">
                <label for="newPassword" class="form-label">New password</label>
                <input type="password" class="form-control" id="newPassword" placeholder="Minimum 6 characters" required>
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm new password</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Minimum 6 characters" required>
              </div>
             
            </form>
    
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-custom-v1 rounded-pill" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-custom-v1 rounded-pill" form="changePasswordForm">Save changes</button>
      </div>
    </div>
  </div>
</div> 
  
<!-- Modal Profile -->
<div class="modal fade" id="modalProfile" tabindex="-1" aria-labelledby="modalProfileLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalProfileLabel">Edit Profile</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
          <h6 class="mb-3">Profile Data</h6>
          <form id="changeProfileForm" (ngSubmit)="uploadFileAndProfile()" #userForm="ngForm" enctype="multipart/form-data">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                <label for="username" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="username" name="username" [(ngModel)]="currentUser.username" disabled>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                <label for="name" class="form-label">Nombre de usuario</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="currentUser.name">
              </div>
              
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                <label for="lastname" class="form-label">Apellido de usuario</label>
                <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="currentUser.lastname">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 mb-2">
                <label for="location" class="form-label">Localidad</label>
                <select class="form-control form-select-md mb-1" id="location" name="location" aria-label="Large select example" [(ngModel)]="currentUserProfile.location">
                  <option selected disabled>Seleccionar</option>
                  <option *ngFor="let country of countries" [value]="country.name.common">
                    {{ getFlagEmoji(country.cca2) }} {{ country.name.common }}
                  </option>
                </select>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 mb-2">
                <label for="age" class="form-label">Edad</label>
                <input type="number" class="form-control" id="age" name="age" [(ngModel)]="currentUserProfile.age" >
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 mb-3">
                <label for="gender" class="form-label">Genero</label>
                <select class="form-control form-select-md mb-3" id="gender" name="gender" aria-label="Large select example" [(ngModel)]="currentUserProfile.gender">
                  <option selected disabled>Seleccionar</option>
                  <option [value]="'Femenino'">Femenino</option>
                  <option [value]="'Masculino'">Masculino</option>
                </select>
              </div>
            </div>
            <hr>
            <h6 class="mb-3">Preference</h6>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
                <label for="maxAge" class="form-label">Edad Maxima</label>
                <input type="te" class="form-control" id="maxAge" name="maxAge" [(ngModel)]="currentUserProfile.maxAge">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
                <label for="minAge" class="form-label">Edad Minima</label>
                <input type="number" class="form-control" id="minAge" name="minAge" [(ngModel)]="currentUserProfile.minAge">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
                <label for="likeGender" class="form-label">Genero</label>
                <select class="form-control form-select-md mb-3" id="likeGender" name="likeGender" aria-label="Large select example"  [(ngModel)]="currentUserProfile.likeGender">
                  <option selected disabled >Seleccionar</option>
                  <option [value]="'Femenino'">Femenino</option>
                  <option [value]="'Masculino'">Masculino</option>
                </select>
              </div>
            </div>
            <!--<div class="d-grid gap-3">
                <button type="submit" class="btn btn-custom">Actualizar perfil</button>
            </div>-->
          </form>
          @if(uploadSuccess){
            <div class="alert alert-success d-flex align-items-center m-2" role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </svg> 
              <div class="ms-2">
                Perfil de usuario actualizado con éxito.
              </div>
            </div>
          }
      </div>
   
      <div class="modal-footer">
        <button type="button" class="btn btn-custom-v1 rounded-pill" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-custom-v1 rounded-pill" form="changeProfileForm">Save changes</button>
      </div>
    </div>
  </div>
</div>  
</section>
   




