@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@font-face {
    font-family: 'OpenSans';
    src: url('../../../assets/fonts/OpenSans-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Roboto';
    src: url('../../../assets/fonts/Roboto-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }

/* Estilos generales */
body {
    font-family: 'OpenSans', sans-serif;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* Menú */
.navbar, .sidebar {
    font-family: 'Roboto', sans-serif;
}

/* Botones y etiquetas */
button, label {
    font-family: 'Roboto', sans-serif;
}

/* Otros elementos */
p, a, li, span {
    font-family: 'OpenSans', sans-serif;
}


/* Estilos adicionales */
.bg-custom {
    background-color: #d5dbd9;
}

/*BUTTONS PROFILE*/
.btn-custom-v1{
    background: linear-gradient(to bottom right, #9eb8ce, #aaaed1 ,  #c3afd6, #d8b2cb);
    color: #ffffff;
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
    transition: background 0.3s ease-in-out; /* Transición suave para el fondo */
    box-shadow: 0 0.2rem 0.35rem rgba(0, 0, 0, 0.2); /* Sombras sutiles */
}
.btn-custom-v1:hover{
    color: #efedf3; /* Color del texto */
    background: linear-gradient(to bottom right, #475561, #5b5e79 ,  #61546d, #6b5464); 
}

.btn-custom-v2{
    background:#f1f1f1;
    color: #979797; /* Color del texto */
    border: none; /* Sin bordes */
    border-radius: 25px; /* Bordes redondeados */
    font-size: 18px; /* Tamaño de la fuente */
    cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
    transition: background 0.3s ease-in-out; /* Transición suave para el fondo */
    box-shadow: 0 0.2rem 0.35rem rgba(0, 0, 0, 0.1); /* Sombras sutiles */
}
.btn-custom-v2:hover{
    background:#222222; /* Degradado de colores rosas y morados */
    color: white;
    border: 0px;
}
.active-btn {
    background:#807171; /* Degradado de colores rosas y morados */
    color: #f5f5f5; /* Color del texto */
}
.btn-outline-primary {
    color: #FFA500;
    border-color: #FFA500;
  }
  
.btn-outline-primary:hover {
    color: white;
    background-color: #FFA500;
  }
  
.btn-square {
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
.btn-square i {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
.btn-square span {
    font-size: 0.8rem;
  }
/*Buton circulares*/
.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /* Ajusta este valor según tus necesidades */
}

.btn-text {
    margin-bottom: 8px;
    /* Ajusta este valor según tus necesidades */
    text-align: center;
}

.row-top,
.row-bottom {
    justify-content: space-around;
}

.row-middle {
    justify-content: center;
}
/*Buton circulares fin*/
/*IMAGE PROFILE*/
.profile-header {
    background: linear-gradient(to bottom right, #8fccff, #ff8fda);
    height: 150px;
    position: relative;
    border-radius: 20px 20px 0 0px;
}

.profile-picture-wrapper {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    object-fit: cover;
}

.change-photo-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: linear-gradient(to bottom right, #717fcf, #9d6cbd);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease;
}

.change-photo-icon svg {
    width: 24px;
    height: 24px;
    color: white;
}

.change-photo-icon:hover {
    background: linear-gradient(to bottom right, #6572b9, #734b8d);
    color: #f5f5f5;
}

.label-icon {
    cursor: pointer;
}
.profile-content {
    padding-top: 60px;
    background-color: #ffffff;
    border-radius: 0 0 20px 20px;
    min-height: calc(90vh - 150px);
}

.profile-info {
    margin-bottom: 20px;
}

.profile-actions {
    max-width: 250px;
    margin: 0 auto;
}


@media (min-width: 768px) {
    .profile-header {
        height: 200px;
    }

    .profile-picture {
        width: 150px;
        height: 150px;
    }

    .profile-content {
        padding-top: 100px;
    }
}


/* Ajustes para mostrar las imágenes correctamente */
option img {
    display: inline-block;
    vertical-align: middle;
}

option {
    display: flex;
    align-items: center;
}
/*NEWWWWWWW*/
.image-upload-wrapper {
    position: relative;
    width: 80px;
    height: 100px;
    border: 2px dashed #6c757d;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .image-upload-wrapper input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  
  .image-upload-wrapper label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-upload-wrapper i {
    font-size: 1.5rem;
    color: #6c757d;
  }
  
  .image-upload-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
