/* You can add global styles to this file, and also import other style files */
:host {

  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  padding-bottom: 70px;
  /*Altura del menú en móviles */
}

@media (min-width: 768px) {
  :host {
    flex-direction: row;
  }

  .main-content {
    padding-left: 220px;
    /* Ancho del menú + un poco de espacio extra */
    padding-bottom: 20px;
  }
}


main {
  position: relative;
  /*  z-index: 1; */
  min-height: 100vh;
  padding-bottom: 60px;
  /* Ajusta esto según la altura de tu menú en móvil */
}

@media (min-width: 768px) {
  main {
    /*padding-left: 100px;  Ancho del menú en desktop */
    padding-bottom: 0;
  }
}