
<main class="main-content">
  <section class="container-fluid p-0">
    <!-- HEADER -->
    <div class="profile-header">
      <div class="container">
        <h1 class="text-center mb-0 py-4">
            Notificaciones
        </h1>
        <p class="text-center  mb-0 pb-3">    
            Gestiona tus notificaciones
        </p>
      </div>
    </div>
    <!-- CONTENT -->
    <div class="profile-content">
        <div class="container">
            <div class=" mt-0">
                <div class="row justify-content-center">
                  <div class="col-md-8">
                    <div class="notification-list border rounded">
                        @for (notification of notifications; track notification.id) {
                          
                              <a href="#" 
                              class="notification" 
                              [class.unread]="notification.isUnread"
                              (click)="markAsRead(notification); $event.preventDefault()"
                            >
                            <div class="notification-avatar">
                              <img [src]="getImageUrl(notification.sender.profileDetail.photo)" alt="Avatar" class="rounded-circle">
                            </div>
                            <div class="notification-content">
                              <span *ngIf="notification.content === 'Tienes un nuevo match con '">
                                <p>{{ notification.content }}<strong> {{ notification.sender.name }}</strong></p>
                                <small class="text-muted">{{ timeAgo(notification.time) }}</small>
                              </span>
                              <span *ngIf="notification.content === 'te ha enviado un mensaje'">
                                <p><strong>{{ notification.sender.name }}</strong>  {{ notification.content }} </p>
                                <small class="text-muted">{{ timeAgo(notification.time) }}</small>
                              </span>
                              
                              </div>
                                <div class="btn-group  dropstart notification-options">
                                  <button type="button" class="p-1 border rounded-circle link-dark btn btn-light icon-link  link-underline-opacity-0" data-bs-toggle="dropdown" aria-expanded="false">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                      <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                  </svg>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Eliminar Notificaion</a></li>
                                    <li><a class="dropdown-item" href="#" [class.unread]="notification.isUnread" (click)="markAsRead(notification); $event.preventDefault()">Marcar como Leido</a></li>
                                  </ul>
                                </div>
                              @if (notification.isUnread) {
                                <span class="badge rounded-circle bg-primary"></span>
                              }
                            </a>
                        }
                      </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

 </section>

</main>

